* {
    /* From https://systemfontstack.com/ */
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        Adwaita Sans,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        helvetica,
        arial,
        sans-serif;
}

body {
    margin: 40px auto;
    max-width: 1000px;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
    padding: 0 10px;
}
h1,
h2,
h3 {
    line-height: 1.2;
}
figcaption {
    font-size: 90%;
}
.headshot {
    float: left;
}
@media (max-width: 600px) {
    .headshot {
        float: none;
    }
    .headshot img {
        display: block;
        margin: auto;
    }
}
.headshot figcaption {
    text-align: center;
}
.rounded {
    border-radius: 0.25rem !important;
}
